Add CSRF check for PATCH method

I feel there should be a CSRF check in place when the HTTP PATCH method is used as described in [RFC 5789, section 2: Patch method](https://tools.ietf.org/html/rfc5789#section-2).


Added with MR #3 